name = "usuyuki-portfolio-v6"
account_id = "ACCOUNT_ID"

main = ".cloudflare/worker.js"

compatibility_date = "2025-08-02"
compatibility_flags = ["nodejs_compat"]

[assets]
directory = ".cloudflare/assets"
binding = "ASSETS"

[build]
command = "pnpm build"

[[kv_namespaces]]
binding = "KV"
id = "KV_ID"
preview_id = "override"

[observability.logs]
enabled = true
