@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	/* からーず */
	--white: #f5f7fa;
	--black: #2b2e3d;
	--pink: #e8b0b7;
	--yellow: #fedd59;
	--blue: #a1d0ec;
	--ui-bg: #fdf1e1;
	--natori-bg: #FFC0CB	;
	--kmsn-bg: #5ebfeb;

	/* ふぉんと */
	--heading-font: 'Kaisei Decol';
	--body-font: 'Kiwi Maru';
	--heder-height: 60px;
	--footer-height: 120px;
	--main-padding-top: 20px;
	--main-max-width: 1300px;
}
@media screen and (max-width: 640px) {
	:root {
		--heder-height: 60px;
		--footer-height: 120px;
		--main-padding-top: 20px;
		--main-max-width: 1300px;
	}
}

body {
	scroll-behavior: smooth;
	background-color: var(--white);
	color: var(--black);
}

main {
	padding: 1rem;
	max-width: var(--main-max-width);
	margin: 0 auto;
	min-height: calc(100vh - var(--heder-height) - var(--footer-height));
	padding-top: var(--main-padding-top);
}
a {
	color: var(--secondary);
}
a:hover {
	color: var(--primary);
}

/* Tailwind animation delayないので追加 */
.animation-delay-250 {
	animation-delay: 250ms;
}
.animation-delay-500 {
	animation-delay: 500ms;
}
.animation-delay-750 {
	animation-delay: 750ms;
}

@font-face {
	font-display: swap;
	font-family: 'Material Icons';
	font-style: normal;
	font-weight: 400;
	src: local('Material Icons'), url('/fonts/MaterialIconsRound-Regular.otf');
}

@font-face {
	font-display: swap;
	font-weight: 400;
	font-style: normal;
	font-family: 'Kiwi Maru';
	src: url('/fonts/KiwiMaru-Medium.ttf') format('truetype');
}

@font-face {
	font-display: swap;
	font-weight: 400;
	font-style: normal;
	font-family: 'Kaisei Decol';
	src: url('/fonts/KaiseiDecol-Medium.ttf') format('truetype');
}

.tategaki {
	writing-mode: vertical-rl;
}
